#blank{
  background-color: black;
}
.box{
  width: 60%;
  margin: 0px 200px;
  padding: 30px 50px;
  background-color: rgba(0, 255, 42, 0.331);
  text-align: left;
  display: inline-block;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  box-sizing: border-box;
}
.box h1{
 box-sizing: border-box;
  width: 500%;
  height: 10px;
  margin: 1px 5px;
  padding: 20px 100px;
  color: rgba(21, 1, 75, 0.653);
}
.boxmodel{
  width: 100%;
  height: 20px;
  margin:10px 10px;
  padding: 10px 15px;
}
input{
  padding: 5px 20px ;
}
.clearfex{
  color: rgb(9, 62, 162);
  width: 20%;
  height: 50px;
  margin: 10px 80px;
  

}
.clearfex:hover {
  background-color: rgba(2, 86, 255, 0.626);
  color: rgba(0, 0, 0, 0.719);
}

