.box{
  width: 60%;
  margin: 40px 0;
  padding: 30px 50px;
  background-color: rgba(26, 197, 183, 0.345);
  text-align: left;
  display: inline-block;
  border: 1px solid rgb(0, 0, 7);
  border-radius: 4px;
  box-sizing: border-box;
}
.box h1{
  width: 500%;
  height: 10px;
  margin: 1px 5px;
  padding: 20px 100px;
  color: rgba(21, 1, 75, 0.653);
}
.boxmodel{
  width: 100%;
  height: 20px;
  margin:10px 10px;
  padding: 10px 15px;
}
input{
  padding: 5px 20px ;
}
.signupbtn{
  width: 50%;
  height: 20px;
  margin: 20px 20px;
  padding: 0px 50px;
  background-color: 2px solid rgb(99, 97, 97);
  box-sizing: 20px 30px;

}